
.header{
    background-image: url(Assets/Hero-bg.png);
}
nav{
    
    display:flex;
    aline-items:center;
    justify-content: space-between;
    margin: 50px 200px;

}
.nav_Logo{
    font-size: 20px;
    color:#4E47FF ;
    font-weight:none ;
}

.button_decoration{
  background-color: #4E47FF;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
}
.button_decoration:hover{
   background-color: blueviolet;  
}

.benner {
    text-align: center;
}
.contains{
    display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 40px 20px;
}
.contain{
    font-size: 30px;
}
.contain_list{
        font-weight: lighter;
        color: #5e5252;
        font-size: 25px;
       }

       .Webflow{
          width: 300px;
      border-radius: 20px;
      box-shadow:
     
       }

             .Users{
                text-align: center;
                padding: 50px 20px ;
                max-width: 600;
                background-color:#e2d6d6 ;
                justify-content: center;
            box-shadow: rgb(221, 216, 216);
            border-radius: 10px;
            margin: auto;
            
             }
             .Users h2{
                font-size: 25px;
                color:#4E47FF ;

             }

           .user{
            display: flex;
            justify-content: center;
            gap: 50px;
            flex-wrap: wrap;
        } 
        .user div{
            display: flex;
            flex-direction: column;
            align-items: center;
        } 
        
         .Num{
                   font-weight: bold;
                   font-size: 50px;
                    color:#4E47FF
         }
  .lable{
    font-weight: lighter;
        color: #5e5252;
        font-size: 20px;
  }

   .card {
    text-align: center;
      padding: 50px 20px;
    }
    .skill{
        border-radius: 10px;
    padding: 30px 50px;
    text-align: center;
    margin-top: px;
    }

    .Center{
        text-align: center;
        padding: 20px;
        border: 2px;
        border-radius: 12px;
        background-color: #e2d6d6;
        width: 90%
        max: width 600px;
        box-shadow: rgba(0,0,0,0.1)
    }
  .btn{
    background-color: #4E47FF;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin: 20px;
  border-radius: 10px; 
  
  justify-content: center;  
  }
  .btn:hover{
   background-color: blueviolet;  
}

    .Img{
        max-width:x;
        border-radius: 20px;

    }
    input[type="text"]{
        height: 64px;
        background-color: white;
        display: block;
        width:100%;
        padding: 10px 20px;
    }

    footer{
        padding: 130px 230px;
        display: flex;
        gap: 100px;

    }
    .footer-column{
        width: 50%;
    }